<div class="col-md-10 mx-auto">
<div class="row">
  {{#each patients}}
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ firstname }} {{lastname}}
          <a href="/arquetipo/edit/{{_id}}"><i class="fa fa-pencil-square-o" aria-hidden="true" style='font-size:36px ;align:left'></i></a>
        </h4>
        
        <p> 
          <label >Edad:</label>{{age}} &nbsp; &nbsp;
          <label >Fecha Nacimiento:</label>{{birthday}} &nbsp; &nbsp;
          <label >Run:</label>{{run}} <br>
          <label >Dirección:</label>{{adress}} &nbsp; N°: {{number}} Ciudad: {{city}}  &nbsp; Comuna: {{comuune}}<br>
          <label >Correo:</label>{{email}}<br>
          <label >Genero:</label>{{gender}} &nbsp; &nbsp;
          <label >Estado Civil:</label>{{civilstatus}}<br>
          <label >Sistema de Prevision:</label>{{healthsystem}}<br>
          <h5>Telefonos de contacto</h5>
          <label >Mobil:</label>{{landline}} &nbsp; <label >Fijo:</label>{{mobilephone}}<br>
          <h5>Datos Medico anterior</h5>
           <label >Nombre:</label>{{namedoctor}} {{lastnamedoctor}} &nbsp; <label >Especialidad:</label>{{specialty}}<br>
           <label >Contacto: </label>{{mobildoctor}}<br>
        </p>
        <p>
          <h5>Datos medicos</h5>
            <label >Tipo de Sangre:</label>{{bloodtype}}<br>
            <h5>Alergias</h5>
            <label for="">Antibioticos:</label>{{antibioname}}<br>
            <label for="">Medicina:</label>{{medicine}}<br>
            <label for="">Animales:</label>>{{animals}}<br>
            <label for="">Picaduras:</label>{{bites}}<br>
            <label for="">Cirugias anteriores</label>{{surgicalbackground}}<br>
            <label for="">Enfermedad cronica</label>{{diseasename}}<br>
            <h5>Medicacion actual</h5>
            <label for="">Nombre Medicamento:</label>{{medicationname}}<br>
            <label for="">Dosis:</label>{{dosage}}<br>
        </p>
      </div>
    </div><br><br>
  </div>
  {{/each}}
</div>
</div>